@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  top: 0px !important; /* Keep this just in case */
}

/* Any custom styles for your dot pattern or other UI elements can stay here */
